@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center opaque-overlay">
    <div class="col-md-12 text-white">
        <h1 class="display-3 mb-4"><b>Plane Booking Assessment</b></h1>
        <p class="lead mb-5">
            Please Log in using
            <br>
            Email Address: <b>admin@planebooking.test</b>
            <br>
            Password: <b>admin00</b>
        </p>
    </div>
</div>